@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
/*.loader{
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height:150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}
.loader:before, .loader:after{
    content:'';
    border: 1em solid #ff5733;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}
.loader:before{
    animation-delay: 0.5s;
}
@keyframes loader{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}*/
#loading{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #fff
	url('tenor40.gif')
	 no-repeat center center;	
	z-index: 99999;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    z-index: 10000;
    transition: 0.6s;
}
header a{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header a:hover{
    position: relative;
    font-weight: 700;
    color: #40c3ff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 1s;
}
.rotate{
    transition: 2s;
}
header #toggle{
position: relative;
width: 30px;
height: 30px;
cursor: pointer;
}
header #toggle:before{
    content: '';
    position: absolute;
    top: 7px;
    width: 100%;
    height: 2px;
    background: #fff;
}
header #toggle:after{
    content: '';
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 2px;
    background: #fff;
}
.banner.active header #toggle:before{
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%) rotate(45deg);
 transition: 0.8s;
}
.banner.active header #toggle:after{
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%) rotate(-45deg);
 transition: 0.8s;
}
.banner{
position: relative;
width: 100%;
min-height: 100vh;
padding: 100px;
background: url(bg-3.jpg);
background-size: cover;
display: flex;
align-items: center;
transition: 0.5s;
z-index:2;
}

.banner.active{
    transform: translateX(-400px);
    }
#navigation{
    position: fixed;
    top: 0;
    right: -200px;
    width: 400px;
    height: 100vh;
    background: linear-gradient(-105deg, #03a9f4, #3a4052, #03a9f4);
    z-index: 1;
    display: grid;
    place-items: center;
    transition: 0.5s;
}
#navigation.active{
 right: 0;
}
#navigation ul{
    position: relative;
    display: flex;
    flex-direction: column;
}
#navigation ul li{
    list-style: none;
}
#navigation ul li a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
}
#navigation ul li a:hover{
    color: #252627;
    font-weight: 600;
    font-size: 2em;
    transition: 0.5s;
}
.content{
    max-width: 600px;
}
.content h2{
    color: #fff;
    font-size: 2.5em
}
.content h2 span{
color: #40c3ff;
font-size:1.2em
}
.content p{
    font-size: 1.2em;
    color: #fff;
    font-weight: 300;
}
.content a{
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    /*background: #ff4d00;*/
    background: linear-gradient(90deg, #03a9f4, #40c3ff, #0072b1, #03a9f4);
    color: #fff;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 30px;
    background-size: 400%;
}
.content a:hover{
    animation: animate 8s linear infinite;
    }
.sci{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 100px;
}
.sci li{
    list-style: none;
}
.sci li a{
    position: relative;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    text-decoration: none;
    border: 1px solid #fff;
    margin: 10px 0 0;
}
.sci .facebooki a:hover{
    background: #4267B2 
}
.sci .twitteri a:hover{
    background: #00acee;
}
.sci .linkedini a:hover{
    background: #0072b1;
}
.sci .gmaili a:hover{
    background: #c71610;
}
.sci .githubi a:hover{
    background: #fff;
}
.sci li a img{
    max-width: 20px;
    filter: invert(1);
    /*mix-blend-mode: difference;*/
}
.sci .githubi a img{
    max-width: 20px;
    filter: invert(1);
    mix-blend-mode: difference;
}
@keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}
@media(max-width: 825px)
{
    #loading{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #fff
        url('tenor25.gif')
         no-repeat center center;	
        z-index: 99999;
    }
    header{
        padding: 20px 50px;
    }
    .banner{
        padding: 100px 50px 150px;
    }
    .banner h2{
        font-size: 1.8em;
    }
    .banner .content p, .banner .content a{
        font-size: 1em;
    }
    .banner.active{
        transform: translateX(-250px);
        }
    #navigation{
        width: 250px;
    }
    #navigation ul li a{
        font-size: 1.5em;
        margin: 5px 0;
    }
    .sci{
        position: absolute;
        bottom: 50px;  
        right: initial;
        flex-direction: row;
    }
    .sci li a{
        margin: initial;
        margin-right: 10px;
    }
}
@media(max-width: 325px)
{
    #loading{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #fff
        url('tenor25.gif')
         no-repeat center center;	
        z-index: 99999;
    }
    header{
        padding: 20px 50px;
    }
    .banner{
        padding: 100px 50px 150px;
    }
    .banner h2{
        font-size: 1.6em;
    }
    .banner .content p, .banner .content a{
        font-size: 0.9em;
    }
    .banner.active{
        transform: translateX(-200px);
        }
    #navigation{
        width: 200px;
    }
    #navigation ul li a{
        font-size: 1.5em;
        margin: 5px 0;
    }
    .sci{
        position: absolute;
        bottom: 50px;  
        right: initial;
        flex-direction: row;
    }
    .sci li a{
        margin: initial;
        margin-right: 2px;
    }
}
@media(max-width: 315px)
{
    #loading{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #fff
        url('tenor25.gif')
         no-repeat center center;	
        z-index: 99999;
    }
    header{
        padding: 15x 35px;
    }
    .banner{
        padding: 100px 50px 150px;
    }
    .banner h2{
        font-size: 1.2em;
    }
    .banner .content p, .banner .content a{
        font-size: 0.7em;
    }
    .banner.active{
        transform: translateX(-120px);
        }
    #navigation{
        width: 120px;
    }
    #navigation ul li a{
        font-size: 1.1em;
        margin: 5px 0;
    }
    .sci{
        position: absolute;
        bottom: 50px;  
        right: initial;
        flex-direction: row;
    }
    .sci li a{
        margin: initial;
        margin-right: 1px;
    }
}
